.location-select .mantine-Select-placeholder {
  color: blue; /* Style for the "Location" placeholder */
  font-size: 16px;
}

.destination-select .mantine-Select-placeholder {
  color: green; /* Style for the "Where are you going?" placeholder */
  font-size: 20px;
}
