@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-optical-sizing: auto;
}
.headerLogo {
  font-family: "Inter", sans-serif !important;
}
.location-select .mantine-Select-placeholder {
  color: blue; /* Style for the "Location" placeholder */
  font-size: 16px;
}

.destination-select .mantine-Select-placeholder {
  color: green; /* Style for the "Where are you going?" placeholder */
  font-size: 20px;
}
